{% extends "base.html" %}

{% autoescape off %}
{% block head %}
<script type="text/javascript">
var deviceArray = [];
changeSuppress = ""

{% for actuator in actuators %}
deviceArray.push( {{actuator.name}} );
{% endfor %}

socket = io.connect('http://172.25.119.5:5000');
socket.on('connect', function () {
	socket.on('state', function (msg) {
		var parsed = jQuery.parseJSON(msg);
		console.log(parsed)
		if ( jQuery.inArray(parsed.device, deviceArray) > -1)
		{
			switch (parsed.module) {
				{% for module in modules.values %}
				{{module.widget_mqtt_js|safe}}
				{% endfor %}
			}
		}
	});
	socket.emit('subscribe',{topic:'state'});
});
</script>
{% endblock %}
{% endautoescape %}
{% block content %}
<h1 align="center">{{room_name}}</h1>
<div class="row-fluid">
	<div class="col-md-4">
		<h2>Devices</h2>
		{% for actuator in actuators %}
			<li>{{actuator.name}} - {{actuator.module.name_only}}</li>
		{% endfor %}
	</div>
	<div class="col-md-8">
		<h2>Status</h2>
	</div>
</div>
{% endblock %}

